

body {
  font-family: 'Plus Jakarta Sans', 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container-layout{
    max-width: 1440px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: auto;
    
}
.main-header {
  background-color: #00646f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.logo img{
  width: 50%;
  height: 50% ;
}

.navbar {
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffd700;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}
.sticky{
  background-color: #00abea6b;
  position: fixed;
  transition: all 0.5s ease;
  
}
.swiper-container {
  width: 100%;
  height: 90vh;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height:90vh;
  object-fit: cover;
}

.swiper-button-prev, .swiper-button-next{
    color:#00646f !important;
}
.slider-content {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 60%;
}

.slider-content h2{
    font-family: 'Montserrat';
    font-size: 45px;
    color: #fff;
}
.spotBtn{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 700;
    color: #003366;
    background-color: #ffd700;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
/* about sec css */

.about-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 65px;
    text-align: left;
    padding: 100px 0px;
}

.abt-info h2{
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 700;
    color: #ffd700;
    margin: 0px;
}
.abt-info h3{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    color: #003366;
    margin: 0px;
    margin-bottom: 20px;
}
.abt-info, .legcy-cont p{
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
    color: #000;
    margin: 0px;
}
.abt-cta{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    color: #003366;
    background-color: #ffd700;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
/* ourlegacy  */
.legacy-container{
    border-bottom: 3px solid #00646f;
}
.legacy-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0px;
}
.legacy-info img{
    width: 800px;
    height: 500px;
}
.legcy-cont h2{
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 700;
    color: #ffd700;
    margin: 0px;
}
.counter-section {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
}
.counter-box p{
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}
.iconbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;

}
.iconbox img{
    width: 40px;
    height: 40px;
}
.iconbox h3{
    font-family: 'Montserrat';
    font-size: 27px;
    font-weight: 700;
    color: #00646f;
    margin: 0px;
}
.left-countr, .right-coutr {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* mission vision value css */
.vision-mission{
    background-color: #00646f;
}
.vis-cont-div{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 100px 0px;
}
.vision-card{
    background: url("./assessts/mission-vission/business-hands-joined-together-teamwork.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 33%;
    border: 5px solid #ffd700;
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    
}
.vision-card h2 {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
    color: #ffd700;
    margin: 0px;
    margin-bottom: 20px;
}
.vision-card p, .vision-card li{
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    color: #dfdfdf;
}
/* our institute */
.institute-sec{
    padding: 100px 0px;
}
.ins-hold-cont{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
}
.inst-cont {
    width: 33%;
}
.inst-cont p{
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    color: #000;
}
.inst-cont button{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    color: #003366;
    background-color: #ffd700;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.inst-cont a {
    color: #000;
}
.inst-cont a:hover{
    text-decoration: none;
    color:#ffd700
}

.inst-sec-title{
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 700;
    color: #ffd700;
    margin: 0px;
    text-align: center;
    margin-bottom: 30px;
}

/* image gallery */
.gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s;
}
.gallery-img:hover {
  transform: scale(1.05);
}

/* Lightbox styles */
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

/* gallery section */
.gallery-section{
    padding: 100px 0px;
    background-color: #00646f;
}

.gal h2{
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 700;
    color: #ffd700;
    margin: 0px;
    margin-bottom: 30px;
    text-align: center;
}
.footer{
    background-color: #000;
}
.ftr{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 0px;
}
.ftr-logo-cont, .links, .locate, .cont{
    width:25%;
}
.ftr-logo-cont img {
    width: 200px;
    height: 80px;
}

.social {
    display: flex;
    gap: 10px;
}
.social img {
    width: 30px;
}
.links h3, .locate h3, .cont h3{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0;

}
.links p, .locate p, .cont p{
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    
}

.cont h4{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    color: #fff; 
    margin: 0;
    
}
.subftr{
    background-color: #000;
    
}
.cred .container-layout{
    border-top: 2px solid #00646f;
    display: flex;
    justify-content: center;
}
.cred p{
    font-family: 'poppins';
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    margin: 0px;
    text-align: center;
}
.cont a {
    color: #dfdfdf;
    font-size: 14px;
    font-family: 'Montserrat';
}
.cont a:hover{
    color:#ffd700;
    text-decoration: none;
}

.email, .mob {
    margin: 10px 0;
}
/* Responsive for Mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #003366;
    flex-direction: column;
    width: 200px;
    padding: 15px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
